/* Section 1 (Header) */


body {
	font-family: 'Poppins', sans-serif;
    padding-top: 70.4px;
    background: #F6F8F9;
} 

.header-wrap {
	background: #F6F8F9;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 4;
}
.navigation {
	display: inline-block;
	vertical-align: middle;
	margin-left: 92px;
	margin-bottom: 20px;
}
.nav-item1 {
	color: #343638;
	font-size: 11px;
	display: inline-block;
	margin-right: 27px;
}
.nav-item2 {
	display: inline-block;
	font-size: 11px;
	color: #A6ADB4;
	margin-right: 22px;
	vertical-align: middle;
}
.logo {
    font-size: 13px;
    font-weight: bold;
    color: #FA6980;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
 }



/*Section 2 (1st image block)*/

.container {
    width: 1160px;
    margin: 0 auto;
 }

 .headline-text {
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    color: #202124;
    margin-bottom: 50px;
 }

 .container-block {
    margin-top: 40px;
 }

 .left-block{
    width: 360px;
    display: inline-block;
    margin-right: 40px;
 }

 .mid-block {
    width: 360px;
    display: inline-block;
    margin-right: 40px;
 }

 .right-block{
    width: 360px;
    display: inline-block;
 }
 .image-wrap {
    position: relative;
 }
 .image-text{
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 28px;
    left: 40px;
 }
 .text-wrap {
    background: #fff;
    height: 180px;
    padding: 66px 40px;
 }
 .description-text {
    width: 280px;
    color: #A6ADB4;
    font-size: 13px;
    line-height: 23px;
 }
 .timeline {
    margin-top: 10px;
 }
 .countdown-text {
    display: inline-block;
    margin-left: 10px;
    color: #A6ADB4;
 }

 /* Section 3 (2nd image block)*/

.container {
    width: 1160px;
    margin: 0 auto;  
 }
 .container-block2 {
    width: 1160px;
    margin: 0 auto;
 }
 .left-block2 {
    width: 760px;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
 }
 .upper-image {
    width: 760px;
    height: 430px;
    position: relative;
    margin-bottom: 40px;
 }
 .locate-text {
    position: absolute;
    transform: translate(0);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
 }
 .right-block2 {
    width: 360px;
    height: 896px;
    display: inline-block;
    vertical-align: top;
 }
 .middle-image {
    margin: 102px 0;
 }
